@model WPP.Model.ModuloContratos.ProductoModel

@{
    ViewBag.Title = "Detalles del Producto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row" style="margin-top:20px; ">
    <div class="col-md-3"></div>
    <div class="col-md-6 body-form">
        <h2>Detalles del Producto</h2>

        @using (Html.BeginForm("Detalles", "Producto", FormMethod.Post, new { id = "frmDetallesProducto", @Class = "form-horizontal" }))
        {
            @Html.ValidationSummary(true)

            @Html.HiddenFor(m => m.Id)
            <div class="form-group">
                <label for="Descripcion">Descripción:</label>
                @Html.DisplayFor(m => m.Descripcion, new { @Class = "form-control", id = "Descripcion" })
            </div>
            <div class="form-group">
                <label for="Categoria">Tipo de producto:</label>
                @Html.DisplayFor(m => m.CategoriaNombre, new { @Class = "form-control", id = "Categoria" })
            </div>
            if (ViewBag.Categoria != null)
            {
                if (ViewBag.Categoria.Tipo == "DisposicionFinal")
                {
                    <div class="form-group">
                        <label for="Precio">Precio:</label>
                        @Html.DisplayFor(m => m.Precio, new { @Class = "form-control", id = "Precio" })
                    </div>
                    <div class="form-group">
                        <label for="Moneda">Moneda:</label>
                        @Html.DisplayFor(m => m.Moneda, new { @Class = "form-control", id = "Moneda" })
                    </div>
                }
            }
            <div class="form-group">
                <label for="UnidadCobro">Unidad de cobro:</label>
                @Html.DisplayFor(m => m.UnidadCobroNombre, new { @Class = "form-control", id = "UnidadCobro" })
            </div>
            <div class="form-group">
                <label for="ProcesoCobro">Proceso que genera el cobro:</label>
                @Html.DisplayFor(m => m.ProcesoCobroNombre, new { @Class = "form-control", id = "ProcesoCobro" })
            </div>
            <div class="form-group">
                <label for="TipoEquipo">Tipo de equipo:</label>
                @Html.DisplayFor(m => m.TipoEquipoNombre, new { @Class = "form-control", id = "TipoEquipo" })
            </div>
            <div class="form-group">
                <label for="Tamano">Tamaño:</label>
                @Html.DisplayFor(m => m.TamanoNombre, new { @Class = "form-control", id = "Tamano" })
            </div>
            <div class="form-group">
                <label for="Estado">Estado:</label>
                @Html.DisplayFor(m => m.EstadoNombre, new { @Class = "form-control", id = "Estado" })
            </div>
            <div class="form-group">
                <label for="Estado">Acepta rutas recolección:</label>               
                @if (Model.RutasRecoleccion)
                {
                    @Html.Raw("Si")
                }
                else
                {
                    @Html.Raw("No")
                }
               
            </div>
            @Html.ActionLink("Regresar", "Index", "Producto", null, new { @Class = "btn btn-primary" })

        }

    </div>
    <div class="col-md-3"></div>
</div>



