@model PagedList.IPagedList<WPP.Entities.Objects.ModuloContratos.Producto>
@using WPP.Model;
@using PagedList.Mvc;
@using PagedList;

<!-- import the included stylesheet for some (very basic) default styling -->
<link href="/Content/PagedList.css" rel="stylesheet" type="text/css" />
<link href="/Content/font-awesome.css" rel="stylesheet" type="text/css" />


@{
    ViewBag.Title = "Productos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-md-3" role="navigation" style="padding-top:5%;">
        <h2>Filtrar por: </h2>

        @using (Html.BeginForm(Html.BeginForm("Buscar", "Producto", FormMethod.Get)))
        {
            <p>
                Descripción: @Html.TextBox("searchStringDescripcion", ViewBag.CurrentDescripcion as string, new { @class = "form-control col-lg-3" })
            </p>
            <p>
                Categoría: @Html.TextBox("searchStringTipo", ViewBag.currentFilterTipo as string, new { @class = "form-control" })
            </p>
            <p>
                Estado: @Html.TextBox("searchStringEstado", ViewBag.currentFilterEstado as string, new { @class = "form-control" })
            </p>
            <p>
                Unidad de Cobro: @Html.TextBox("searchStringUnidad", ViewBag.currentFilterUnidad as string, new { @class = "form-control" })
            </p>
            <p>
                Tipo de Equipo: @Html.TextBox("searchStringEquipo", ViewBag.currentFilterEquipo as string, new { @class = "form-control" })
            </p>
            <p>
                Filas: @Html.DropDownList("searchStringFilas", new List<SelectListItem>{
                    new SelectListItem() {Text = "10", Value="10"},
                    new SelectListItem() {Text = "25", Value="25"},
                    new SelectListItem() {Text = "50", Value="50"},
                    new SelectListItem() {Text = "100", Value="100"}
                 }, ViewBag.currentFilterFilas as string, new { @Class = "form-control", id = "searchStringFilas" })
            </p>
            <p>
                <button type="submit" value="Buscar" id="btnBuscar" class="btn btn-primary">Buscar <span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
            </p>
        }
    </div>


    <div class="col-md-9" style="padding-top:2%;">
        <h2>Productos</h2>


        @if (ViewBag.Mensaje != null)
        {
            Html.Raw(ViewBag.Mensaje);
        }

        <br /><br />
        
        @if (Session["Roles"].ToString().Contains("Administrador de Productos") || Session["Roles"].ToString().Contains("Editor de Productos"))
        {
            @Html.ActionLink("Crear Producto", "Crear", "Producto", new { @class = "btn btn-primary" })
            <br /><br />
        }

        <div class="table-responsive" style="height:300px; overflow-y:auto">
            <table class="table table-hover" id="tabla-producto">
                <tr>
                    <th>
                        @Html.ActionLink("Descripción", "Buscar", "Producto", new
               {
                   sortOrder = ViewBag.NombreSortParam,
                   currentFilterDescripcion = ViewBag.CurrentDescripcion,
                   currentFilterTipo = ViewBag.CurrentTipo,
                   currentFilterEstado = ViewBag.CurrentEstado,
                   currentFilterUnidad = ViewBag.CurrentUnidad,
                   currentFilterEquipo = ViewBag.CurrentEquipo
               }, null)
                    </th>
                    <th>
                        @Html.ActionLink("Categoría", "Buscar", "Producto", new
               {
                   sortOrder = ViewBag.NombreSortParam,
                   currentFilterDescripcion = ViewBag.CurrentDescripcion,
                   currentFilterTipo = ViewBag.CurrentTipo,
                   currentFilterEstado = ViewBag.CurrentEstado,
                   currentFilterUnidad = ViewBag.CurrentUnidad,
                   currentFilterEquipo = ViewBag.CurrentEquipo
               }, null)
                    </th>
                    <th>
                        @Html.ActionLink("Estado", "Buscar", "Producto", new
               {
                   sortOrder = ViewBag.NombreSortParam,
                   currentFilterDescripcion = ViewBag.CurrentDescripcion,
                   currentFilterTipo = ViewBag.CurrentTipo,
                   currentFilterEstado = ViewBag.CurrentEstado,
                   currentFilterUnidad = ViewBag.CurrentUnidad,
                   currentFilterEquipo = ViewBag.CurrentEquipo
               }, null)
                    </th>
                    <th>
                        @Html.ActionLink("Unidad de Cobro", "Buscar", "Producto", new
               {
                   sortOrder = ViewBag.NombreSortParam,
                   currentFilterDescripcion = ViewBag.CurrentDescripcion,
                   currentFilterTipo = ViewBag.CurrentTipo,
                   currentFilterEstado = ViewBag.CurrentEstado,
                   currentFilterUnidad = ViewBag.CurrentUnidad,
                   currentFilterEquipo = ViewBag.CurrentEquipo
               }, null)
                    </th>
                    <th>
                        @Html.ActionLink("Tipo Equipo", "Buscar", "Producto", new
               {
                   sortOrder = ViewBag.NombreSortParam,
                   currentFilterDescripcion = ViewBag.CurrentDescripcion,
                   currentFilterTipo = ViewBag.CurrentTipo,
                   currentFilterEstado = ViewBag.CurrentEstado,
                   currentFilterUnidad = ViewBag.CurrentUnidad,
                   currentFilterEquipo = ViewBag.CurrentEquipo
               }, null)
                    </th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>


                @if (Model != null)
                {
                    foreach (var item in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.Descripcion)</td>
                            <td>@Html.DisplayFor(modelItem => item.Categoria.Nombre)</td>
                            <td>@Html.DisplayFor(modelItem => item.Estado.Nombre)</td>
                            <td>@Html.DisplayFor(modelItem => item.UnidadCobro.Nombre)</td>
                            <td>@Html.DisplayFor(modelItem => item.TipoEquipo.Nombre)</td>
                           
                            @if (Session["Roles"].ToString().Contains("Administrador de Productos") || Session["Roles"].ToString().Contains("Editor de Productos") || Session["Roles"].ToString().Contains("Consultor de Productos"))
                            {
                                 <th>
                                    <a href="@Url.Action("Detalles", "Producto", new { IdProducto = item.Id })" data-toggle="tooltip" title="Detalles">
                                        <span class="glyphicon glyphicon-info-sign" style="font-size:medium" aria-hidden="true"></span>
                                    </a>
                                </th>
                            }
                            @if (Session["Roles"].ToString().Contains("Administrador de Productos") || Session["Roles"].ToString().Contains("Editor de Productos"))
                            {
                                <th>
                                    <a href="@Url.Action("Editar", "Producto", new { IdProducto = item.Id })" data-toggle="tooltip" title="Editar">
                                        <span class="glyphicon glyphicon-edit" style="font-size:medium" aria-hidden="true"></span>
                                    </a>
                                </th>
                            }
                            @if (Session["Roles"].ToString().Contains("Administrador de Productos"))
                            {
                                <th>
                                    <a href="@Url.Action("Eliminar", "Producto", new { IdProducto = item.Id })" data-toggle="tooltip" title="Eliminar">
                                        <span class="glyphicon glyphicon-trash" style="font-size:medium" aria-hidden="true"></span>
                                    </a>
                                </th>
                            }
                                     
                        </tr>
                    }
                }

            </table>
        </div>
        <div>
            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

            @Html.PagedListPager(Model, page => Url.Action("Buscar", "Producto",
                                new
                                {
                                    page,
                                    sortOrder = ViewBag.CurrentSort,
                                    currentFilterDescripcion = ViewBag.CurrentDescripcion,
                                    currentFilterTipo = ViewBag.CurrentTipo,
                                    currentFilterEstado = ViewBag.CurrentEstado,
                                    currentFilterUnidad = ViewBag.CurrentUnidad,
                                    currentFilterEquipo = ViewBag.CurrentEquipo,
                                    currentFilterFilas = ViewBag.CurrentFilas
                                }))

        </div>


    </div>
</div>



<script language="javascript" type="text/javascript">

        $(document).load(function () {
            document.getElementById("btnBuscar").click();
        })

        $(document).ready(function () {
            function editarProducto(IdProducto) {
            }
        });// end document ready

</script>
