@model PagedList.IPagedList<WPP.Entities.Objects.ModuloNomina.DiasFestivos>
@using WPP.Model;
@using PagedList.Mvc;
@using PagedList;

<!-- import the included stylesheet for some (very basic) default styling -->
<link href="/Content/PagedList.css" rel="stylesheet" type="text/css" />
<link href="/Content/font-awesome.css" rel="stylesheet" type="text/css" />


@{
    ViewBag.Title = "Días Festivos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-md-3" role="navigation" style="padding-top:5%;">
        <h2>Filtrar por: </h2>

        @using (Html.BeginForm(Html.BeginForm("Buscar", "DiasFestivos", FormMethod.Get)))
        {
            <div class="form-group">
                Descripción: @Html.TextBox("searchStringDescripcion", ViewBag.currentFilterDescripcion as string, new { @class = "form-control col-lg-3" })
            </div>
            <div class="form-group">
                Día: @Html.TextBox("searchStringDia", ViewBag.currentFilterDia as string, new { @class = "form-control" })
            </div>
            <div class="form-group">
                Mes: @Html.DropDownList("searchStringMes",
                new List<SelectListItem>{
                        new SelectListItem() {Text = "", Value=""},
                        new SelectListItem() {Value = "1", Text="Enero"},
                        new SelectListItem() {Value = "2", Text="Febrero"},
                        new SelectListItem() {Value = "3", Text="Marzo"},
                        new SelectListItem() {Value = "4", Text="Abril"},
                        new SelectListItem() {Value = "5", Text="Mayo"},
                        new SelectListItem() {Value = "6", Text="Junio"},
                        new SelectListItem() {Value = "7", Text="Julio"},
                        new SelectListItem() {Value = "8", Text="Agosto"},
                        new SelectListItem() {Value = "9", Text="Septiembre"},
                        new SelectListItem() {Value = "10", Text="Octubre"},
                        new SelectListItem() {Value = "11", Text="Noviembre"},
                        new SelectListItem() {Value = "12", Text="Diciembre"}
                    }, ViewBag.currentFilterMes as string, new { @Class = "form-control", id = "searchStringMes" })
                
            </div>

            <div class="form-group">
                Filas: @Html.DropDownList("searchStringFilas", new List<SelectListItem>{
                    new SelectListItem() {Text = "10", Value="10"},
                    new SelectListItem() {Text = "25", Value="25"},
                    new SelectListItem() {Text = "50", Value="50"},
                    new SelectListItem() {Text = "100", Value="100"}
                 }, ViewBag.currentFilterFilas as string, new { @Class = "form-control", id = "searchStringFilas" })
            </div>
            <div>
                <button type="submit" value="Buscar" id="btnBuscar" class="btn btn-primary">Buscar <span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
            </div>
        }
    </div>


    <div class="col-md-9" style="padding-top:2%;">
        <h2>Equipos</h2>


        @if (ViewBag.Mensaje != null)
        {
            Html.Raw(ViewBag.Mensaje);
        }

        <br /><br />

        @if (Session["Roles"].ToString().Contains("Administrador de Días Festivos") || Session["Roles"].ToString().Contains("Editor de Días Festivos"))
        {
            @Html.ActionLink("Crear Día Festivo", "Crear", "Equipo", new { @class = "btn btn-primary" })
            <br /><br />
        }

        <div class="table-responsive" style="height:300px; overflow-y:auto">
            <table class="table table-hover" id="tabla-producto">
                <tr>
                    <th>
                        @Html.ActionLink("Descripcion", "Buscar", "DiasFestivos", new
               {
                   sortOrder = ViewBag.DescripcionSortParam,
                   currentFilterDescripcion = ViewBag.CurrentDescripcion,
                   currentFilterDia = ViewBag.CurrentDia,
                   currentFilterMes = ViewBag.CurrentMes
               }, null)
                    </th>
                    <th>
                        @Html.ActionLink("Dia", "Buscar", "DiasFestivos", new
               {
                   sortOrder = ViewBag.DiaSortParam,
                   currentFilterDescripcion = ViewBag.CurrentDescripcion,
                   currentFilterDia = ViewBag.CurrentDia,
                   currentFilterMes = ViewBag.CurrentMes
               }, null)
                    </th>
                    <th>
                        @Html.ActionLink("Mes", "Buscar", "DiasFestivos", new
               {
                   sortOrder = ViewBag.MesSortParam,
                   currentFilterDescripcion = ViewBag.CurrentDescripcion,
                   currentFilterDia = ViewBag.CurrentDia,
                   currentFilterMes = ViewBag.CurrentMes
               }, null)
                    </th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>


                @if (Model != null)
                {
                    foreach (var item in Model)
                    {
                        string mes = String.Empty;
                        switch (item.Mes)
                        {
                            case 1:  mes = "Enero"; break;
                            case 2:  mes = "Febrero"; break;
                            case 3:  mes = "Marzo"; break;
                            case 4:  mes = "Abril"; break;
                            case 5:  mes = "Mayo"; break;
                            case 6:  mes = "Junio"; break;
                            case 7:  mes = "Julio"; break;
                            case 8:  mes = "Agosto"; break;
                            case 9:  mes = "Septiembre"; break;
                            case 10: mes = "Octubre"; break;
                            case 11: mes = "Noviembre"; break;
                            case 12: mes = "Diciembre"; break;                                
                        }
                        <tr>
                            
                            <td>@Html.DisplayFor(modelItem => item.Descripcion)</td>
                            <td>@Html.DisplayFor(modelItem => item.Dia)</td>
                            <td>@Html.Raw(@mes)</td>

                            @if (Session["Roles"].ToString().Contains("Administrador de Días Festivos") || Session["Roles"].ToString().Contains("Editor de Días Festivos") || Session["Roles"].ToString().Contains("Consultor de Días Festivos"))
                            {
                                <th>
                                    <a href="@Url.Action("Detalles", "DiasFestivos", new { id = item.Id })" data-toggle="tooltip" title="Detalles">
                                        <span class="glyphicon glyphicon-info-sign" style="font-size:medium" aria-hidden="true"></span>
                                    </a>
                                </th>
                            }
                            @if (Session["Roles"].ToString().Contains("Administrador de Días Festivos") || Session["Roles"].ToString().Contains("Editor de Días Festivos"))
                            {
                                <th>
                                    <a href="@Url.Action("Editar", "DiasFestivos", new { id = item.Id })" data-toggle="tooltip" title="Editar">
                                        <span class="glyphicon glyphicon-edit" style="font-size:medium" aria-hidden="true"></span>
                                    </a>
                                </th>
                            }
                            @if (Session["Roles"].ToString().Contains("Administrador de Días Festivos"))
                            {
                                <th>
                                    <a href="@Url.Action("Eliminar", "DiasFestivos", new { id = item.Id })" data-toggle="tooltip" title="Eliminar">
                                        <span class="glyphicon glyphicon-trash" style="font-size:medium" aria-hidden="true"></span>
                                    </a>
                                </th>
                            }
                        </tr>
                    }
                }

            </table>
        </div>
       
            @if(Model != null)
            { 
                <div>
                    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

                    @Html.PagedListPager(Model, page => Url.Action("Buscar", "DiasFestivos",
                    new
                    {
                        page,
                        sortOrder = ViewBag.CurrentSort,
                        currentFilterDescripcion= ViewBag.CurrentDescripcion,
                        currentFilterDia = ViewBag.CurrentDia,
                        currentFilterMes = ViewBag.CurrentMes,
                        currentFilterFilas = ViewBag.CurrentFilas
                    }))
                </div>
            }

    </div>
</div>



<script language="javascript" type="text/javascript">

    $(document).load(function () {
        document.getElementById("btnBuscar").click();
    })

    $(document).ready(function () {
        function editarProducto(IdProducto) {
        }
    });// end document ready

</script>
