@model WPP.Model.ModuloBascula.ContenedorModel
@{
    ViewBag.Title = "Editar Contenedor";
    Layout = "~/Views/Shared/_Layout.cshtml";

}



<div class="row" style="margin-top:20px; ">
    <div class="col-md-3"></div>
    <div class="col-md-6 body-form">
        <div>
            <h2>Editar Contenedor</h2>

            <br /><br />

            @using (Html.BeginForm("Editar", "Contenedor", FormMethod.Post, new { id = "frmEdiarContenedor", @class = "form-horizontal" }))
            {
                @Html.ValidationSummary(true)
                
                <div class="form-group">
                    <label for="Descripcion">Descripción</label>   <span title="Este campo es requerido" style="font-size:x-small" class="glyphicon glyphicon-asterisk" aria-hidden="true"></span>
                    @Html.TextBoxFor(m => m.Descripcion, new { @Class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Descripcion)
                </div>
                <div class="form-group">
                    <label for="Codigo">Código</label>   <span title="Este campo es requerido" style="font-size:x-small" class="glyphicon glyphicon-asterisk" aria-hidden="true"></span>
                    @Html.TextBoxFor(m => m.Codigo, new { @Class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Codigo)
                </div>
                <div class="form-group">
                    <label for="Estado">Estado</label>   <span title="Este campo es requerido" style="font-size:x-small" class="glyphicon glyphicon-asterisk" aria-hidden="true"></span>
                    @Html.DropDownListFor(m => m.Estado, new List<SelectListItem>{
                                                        new SelectListItem() {Text = "Activo", Value="Activo"},
                                                        new SelectListItem() {Text = "Inactivo", Value="Inactivo"}
                                                        }, new { @class = "form-control", id = "Estado" })
                    @Html.ValidationMessageFor(m => m.Estado)
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                    </div>
                    <div class="col-md-3">
                        <a id="btnPesajeManual" class="btn btn-primary">Pesaje Manual</a>
                    </div>
                    <div class="col-md-3">
                        <a id="btnPesajeAutomatico" class="btn btn-primary">Pesaje Automático</a>
                    </div>
                    <div class="col-md-3">
                    </div>
                </div>
                <div class="form-group">
                    <a id="lnkEje1" data-toggle="tooltip" style="cursor: pointer; font-weight: bold; text-decoration: underline;color: #2F4A71; padding-right:0px;" title="Pesar Eje 1">
                        Eje 1
                    </a>
                    @Html.TextBoxFor(m => m.Eje1, new { @Class = "form-control", @readonly = "readonly", @type = "number", @min = "0", @max = "100000000000", @step = "0.1" })
                    @Html.ValidationMessageFor(m => m.Eje1)
                </div>
                <div class="form-group">
                    <a id="lnkEje2" data-toggle="tooltip" style="cursor: pointer; font-weight: bold; text-decoration: underline;color: #2F4A71; padding-right:0px;" title="Pesar Eje 2">
                        Eje 2
                    </a>
                    @Html.TextBoxFor(m => m.Eje2, new { @Class = "form-control", @readonly = "readonly", @type = "number", @min = "0", @max = "100000000000", @step = "0.1" })
                    @Html.ValidationMessageFor(m => m.Eje2)
                </div>

                <div class="form-group">
                    <a id="lnkEje3" data-toggle="tooltip" style="cursor: pointer; font-weight: bold; text-decoration: underline;color: #2F4A71; padding-right:0px;" title="Pesar Eje 3">
                        Eje 3
                    </a>
                    @Html.TextBoxFor(m => m.Eje3, new { @Class = "form-control", @readonly = "readonly", @type = "number", @min = "0", @max = "100000000000", @step = "0.1" })
                    @Html.ValidationMessageFor(m => m.Eje3)
                </div>
                <div class="form-group">
                    <label for="Peso">Peso</label>
                    @Html.TextBoxFor(m => m.Peso, new { @Class = "form-control", @readonly = "readonly" })
                    @Html.ValidationMessageFor(m => m.Peso)
                </div>
                
                <button type="submit" class="btn btn-primary">Guardar</button>
                @Html.ActionLink("Cancelar", "Index", "Contenedor", null, new { @Class = "btn btn-primary" })

            }
        </div>
    </div>
    <div class="col-md-3"></div>

</div>


<script language="javascript" type="text/javascript">

    $(document).ready(function () {

        $("#Eje1").change(function () {
            CalcularPeso();
        });

        $("#Eje2").change(function () {
            CalcularPeso();
        });

        $("#Eje3").change(function () {
            CalcularPeso();
        });

    });// end document ready

    function CalcularPeso() {
        var eje1 = $("#Eje1").val();
        var eje2 = $("#Eje2").val();
        var eje3 = $("#Eje3").val();

        var suma = Number(eje1) + Number(eje2) + Number(eje3);
        $("#Peso").val(suma);
    }

    $("#lnkEje1").bind('click', function () {

    });

    $("#lnkEje2").bind('click', function () {

    });

    $("#lnkEje3").bind('click', function () {

    });

    $("#btnPesajeManual").click(function () {
        $("#Eje1").prop('readonly', false);
        $("#Eje2").prop('readonly', false);
        $("#Eje3").prop('readonly', false);
    });

    $("#btnPesajeAutomatico").click(function () {
        $("#Eje1").prop('readonly', true);
        $("#Eje2").prop('readonly', true);
        $("#Eje3").prop('readonly', true);
    });


</script>