@model PagedList.IPagedList<WPP.Entities.Objects.ModuloOperacionRecoleccion.Cuadrilla>
@using WPP.Model;
@using PagedList.Mvc;
@using PagedList;

<!-- import the included stylesheet for some (very basic) default styling -->
<link href="/Content/PagedList.css" rel="stylesheet" type="text/css" />
<link href="/Content/font-awesome.css" rel="stylesheet" type="text/css" />


@{
    ViewBag.Title = "Cuadrilla";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-md-3" role="navigation" style="padding-top:5%;">
        <h2>Filtrar por: </h2>

        @using (Html.BeginForm(Html.BeginForm("Buscar", "Cuadrilla", FormMethod.Get)))
        {
            <div class="form-group">
                Descripción: @Html.TextBox("searchStringDescripcion", ViewBag.currentFilterDescripcion as string, new { @class = "form-control col-lg-3" })
            </div>
            <div class="form-group">
                Estado: @Html.TextBox("searchStringEstado", ViewBag.currentFilterEstado as string, new { @class = "form-control" })
            </div>
            <div class="form-group">
                Chofer: @Html.TextBox("searchStringChofer", ViewBag.currentFilterChofer as string, new { @class = "form-control" })
            </div>
            <div class="form-group">
                Filas: @Html.DropDownList("searchStringFilas", new List<SelectListItem>{
                    new SelectListItem() {Text = "10", Value="10"},
                    new SelectListItem() {Text = "25", Value="25"},
                    new SelectListItem() {Text = "50", Value="50"},
                    new SelectListItem() {Text = "100", Value="100"}
                 }, ViewBag.currentFilterFilas as string, new { @Class = "form-control", id = "searchStringFilas" })
            </div>
            <div>
                <button type="submit" value="Buscar" id="btnBuscar" class="btn btn-primary">Buscar <span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
            </div>
        }
    </div>


    <div class="col-md-9" style="padding-top:2%;">
        <h2>Cuadrillas</h2>


        @if (ViewBag.Mensaje != null)
        {
            Html.Raw(ViewBag.Mensaje);
        }

        <br /><br />

        @if (Session["Roles"].ToString().Contains("Administrador de Cuadrilla") || Session["Roles"].ToString().Contains("Editor de Cuadrilla"))
        {
            @Html.ActionLink("Crear Cuadrilla", "Crear", "Cuadrilla", new { @class = "btn btn-primary" })
            <br /><br />
        }


        <div class="table-responsive" style="height:300px; overflow-y:auto">
            <table class="table table-hover" id="tabla-producto">
                <tr>
                    <th>
                        @Html.ActionLink("Descripcion", "Buscar", "Cuadrilla", new
               {
                   sortOrder = ViewBag.DescripcionSortParam,
                   currentFilterDescripcion = ViewBag.CurrentDescripcion,
                   currentFilterChofer = ViewBag.CurrentChofer,
                   currentFilterEstado = ViewBag.CurrentEstado
               }, null)
                    </th>
                    <th>
                        @Html.ActionLink("Estado", "Buscar", "Cuadrilla", new
               {
                   sortOrder = ViewBag.EstadoSortParam,
                   currentFilterDescripcion = ViewBag.CurrentDescripcion,
                   currentFilterChofer = ViewBag.CurrentChofer,
                   currentFilterEstado = ViewBag.CurrentEstado
               }, null)
                    </th>
                    <th>
                        @Html.ActionLink("Chofer", "Buscar", "Cuadrilla", new
               {
                   sortOrder = ViewBag.ChoferSortParam,
                   currentFilterDescripcion = ViewBag.CurrentDescripcion,
                   currentFilterChofer = ViewBag.CurrentChofer,
                   currentFilterEstado = ViewBag.CurrentEstado
               }, null)
                    </th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>


                @if (Model != null)
                {
                    foreach (var item in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.Descripcion)</td>
                            <td>@Html.DisplayFor(modelItem => item.Estado)</td>   
                            @foreach (var empleado in item.ListaEmpleados)
                            {
                                if (empleado.Puesto == "Chofer")
                                {
                                    <td>@empleado.Nombre</td>
                                }
                            }               
                            @if (Session["Roles"].ToString().Contains("Administrador de Cuadrilla") || Session["Roles"].ToString().Contains("Editor de Cuadrilla") || Session["Roles"].ToString().Contains("Consultor de Cuadrilla"))
                            {
                                <th>
                                    <a href="@Url.Action("Detalles", "Cuadrilla", new { id = item.Id })" data-toggle="tooltip" title="Detalles">
                                        <span class="glyphicon glyphicon-info-sign" style="font-size:medium" aria-hidden="true"></span>
                                    </a>
                                </th>
                            }
                            @if (Session["Roles"].ToString().Contains("Administrador de Cuadrilla") || Session["Roles"].ToString().Contains("Editor de Cuadrilla"))
                            {
                                <th>
                                    <a href="@Url.Action("Editar", "Cuadrilla", new { id = item.Id })" data-toggle="tooltip" title="Editar">
                                        <span class="glyphicon glyphicon-edit" style="font-size:medium" aria-hidden="true"></span>
                                    </a>
                                </th>
                            }
                            @if (Session["Roles"].ToString().Contains("Administrador de Cuadrilla"))
                            {
                                <th>
                                    <a href="@Url.Action("Eliminar", "Cuadrilla", new { id = item.Id })" data-toggle="tooltip" title="Eliminar">
                                        <span class="glyphicon glyphicon-trash" style="font-size:medium" aria-hidden="true"></span>
                                    </a>
                                </th>
                            }
                        </tr>
                    }
                }

            </table>
        </div>
        <div>
            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

            @Html.PagedListPager(Model, page => Url.Action("Buscar", "Cuadrilla",
                                new
                                {
                                    page,
                                    sortOrder = ViewBag.CurrentSort,
                                    currentFilterDescripcion = ViewBag.CurrentCuadrilla,
                                    currentFilterChofer = ViewBag.CurrentChofer,
                                    currentFilterEstado = ViewBag.CurrentEstado,
                                    currentFilterFilas = ViewBag.CurrentFilas
                                }))

        </div>


    </div>
</div>



<script language="javascript" type="text/javascript">

    $(document).load(function () {
        document.getElementById("btnBuscar").click();
    })



</script>

