@model PagedList.IPagedList<WPP.Entities.Objects.ModuloOperacionRecoleccion.RutaRecoleccion>
@using WPP.Model;
@using PagedList.Mvc;
@using PagedList;

<!-- import the included stylesheet for some (very basic) default styling -->
<link href="/Content/PagedList.css" rel="stylesheet" type="text/css" />
<link href="/Content/font-awesome.css" rel="stylesheet" type="text/css" />


@{
    ViewBag.Title = "Rutas de Recolección";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-md-3" role="navigation" style="padding-top:5%;">
        <h2>Filtrar por: </h2>

        @using (Html.BeginForm(Html.BeginForm("Buscar", "RutaRecoleccion", FormMethod.Get)))
        {
            <p>
                Descripción: @Html.TextBox("searchStringDescripcion", ViewBag.CurrentDescripcion as string, new { @class = "form-control col-lg-3" })
            </p>
            <p>
                Estado: @Html.TextBox("searchStringEstado", ViewBag.CurrentEstado as string, new { @class = "form-control col-lg-3" })
            </p>
            <p>
                Tipo: @Html.TextBox("searchStringTipo", ViewBag.CurrentTipo as string, new { @class = "form-control col-lg-3" })
            </p>
            <p>
                Filas: @Html.DropDownList("searchStringFilas", new List<SelectListItem>{
                    new SelectListItem() {Text = "10", Value="10"},
                    new SelectListItem() {Text = "25", Value="25"},
                    new SelectListItem() {Text = "50", Value="50"},
                    new SelectListItem() {Text = "100", Value="100"}
                 }, ViewBag.currentFilterFilas as string, new { @Class = "form-control", id = "searchStringFilas" })
            </p>
            <p>
                <button type="submit" value="Buscar" id="btnBuscar" class="btn btn-primary">Buscar <span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
            </p>
        }
    </div>


    <div class="col-md-9" style="padding-top:2%;">
        <h2>Rutas de Recolección</h2>


        @if (ViewBag.Mensaje != null)
        {
            Html.Raw(ViewBag.Mensaje);
        }

        <br /><br />
        
        @if (Session["Roles"].ToString().Contains("Administrador de Rutas Recolección") || Session["Roles"].ToString().Contains("Editor de Rutas Recolección"))
        {
            @Html.ActionLink("Crear Ruta de Recolección", "Crear", "RutaRecoleccion", new { @class = "btn btn-primary" })
            <br /><br />
        }

        <div class="table-responsive" style="height:300px; overflow-y:auto">
            <table class="table table-hover" id="tabla-usuarios">

                <tr>

                    <th>
                        @Html.ActionLink("Descripción", "Buscar", "RutaRecoleccion", new
                        {
                            sortOrder = ViewBag.DescripcionSortParam,
                            currentDescripcion = ViewBag.CurrentDescripcion,
                            currentEstado = ViewBag.CurrentEstado,
                            currentTipo = ViewBag.CurrentTipo
                        }, null)
                    </th>
                    <th>
                        @Html.ActionLink("Estado", "Buscar", "RutaRecoleccion", new
                        {
                            sortOrder = ViewBag.EstadoSortParam,
                            currentDescripcion = ViewBag.CurrentDescripcion,
                            currentEstado = ViewBag.CurrentEstado,
                            currentTipo = ViewBag.CurrentTipo
                        }, null)
                    </th>
                    <th>
                        @Html.ActionLink("Tipo", "Buscar", "RutaRecoleccion", new
                        {
                            sortOrder = ViewBag.TipoSortParam,
                            currentDescripcion = ViewBag.CurrentDescripcion,
                            currentEstado = ViewBag.CurrentEstado,
                            currentTipo = ViewBag.CurrentTipo
                        }, null)
                    </th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
                @if (Model != null)
                {
                    foreach (var item in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.Descripcion)</td>
                            <td>
                               @Html.DisplayFor(modelItem => item.Estado)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Tipo)
                            </td>
                            @if (Session["Roles"].ToString().Contains("Administrador de Rutas Recolección") || Session["Roles"].ToString().Contains("Editor de Rutas Recolección") || Session["Roles"].ToString().Contains("Consultor de Rutas Recolección"))
                            {
                                <th>
                                    <a href="@Url.Action("Detalles", "RutaRecoleccion", new { idRuta = item.Id })" data-toggle="tooltip" title="Detalles">
                                        <span class="glyphicon glyphicon-info-sign" style="font-size:medium" aria-hidden="true"></span>
                                    </a>
                                </th>
                            }
                            @if (Session["Roles"].ToString().Contains("Administrador de Rutas Recolección") || Session["Roles"].ToString().Contains("Editor de Rutas Recolección"))
                            {
                                <th>
                                    <a href="@Url.Action("Editar", "RutaRecoleccion", new { idRuta = item.Id })" data-toggle="tooltip" title="Editar">
                                        <span class="glyphicon glyphicon-edit" style="font-size:medium" aria-hidden="true"></span>
                                    </a>
                                </th>
                            }
                            @if (Session["Roles"].ToString().Contains("Administrador de Rutas Recolección"))
                            {
                                <th>
                                    <a href="@Url.Action("Eliminar", "RutaRecoleccion", new { idRuta = item.Id })" data-toggle="tooltip" title="Eliminar">
                                        <span class="glyphicon glyphicon-trash" style="font-size:medium" aria-hidden="true"></span>
                                    </a>
                                </th>
                            }
                        </tr>
                    }
                }

            </table>
        </div>
        <div>
            <div>
                <br />
                Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

                @Html.PagedListPager(Model, page => Url.Action("Buscar", "RutaRecoleccion",
                                new
                                {
                                    page,
                                    sortOrder = ViewBag.CurrentSort,
                                    currentFilterDescripcion = ViewBag.CurrentDescripcion,
                                    currentFilterEstado = ViewBag.CurrentEstado,
                                    currentFilterTipo = ViewBag.CurrentTipo,
                                    currentFilterFilas = ViewBag.CurrentFilas
                                }))
            </div>

        </div>


    </div>
</div>



<script language="javascript" type="text/javascript">

        $(document).load(function () {
            document.getElementById("btnBuscar").click();
        })

        $(document).ready(function () {
            function editarUsuario(IdUsuario) {
            }
        });// end document ready

</script>
