@model WPP.Model.General.PuntoFacturacionModel

@{
    ViewBag.Title = "Punto de Facturación";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="row" style="margin-top:20px; ">
    <div class="col-md-3"></div>
    <div class="col-md-6 body-form">
        <div>
            <h2>Editar Punto Facturación</h2>

            <br /><br />

            @using (Html.BeginForm("Editar", "PuntoFacturacion", FormMethod.Post, new { id = "frmEditarPunto", @class = "form-horizontal" }))
            {
                @Html.ValidationSummary(true)
                @Html.HiddenFor(m => m.Id)

                <div class="form-group">
                    <label for="nombre">Nombre</label>   <span title="Este campo es requerido" style="font-size:x-small" class="glyphicon glyphicon-asterisk" aria-hidden="true"></span>
                    @Html.TextBoxFor(m => m.Nombre, new { @Class = "form-control", id = "Nombre" })
                    @Html.ValidationMessageFor(m => m.Nombre)
                </div>


                <div class="form-group">
                    <label for="nombre">Compañías</label>
                    <br />
                    @Html.HiddenFor(m => m.IdCompanias)
                    @Html.ValidationMessageFor(m => m.IdCompanias)

                    @if (ViewBag.ListaCompania != null)
                    {
                        var companiaCreada = String.Empty;
                        foreach (var Companias in ViewBag.ListaCompania)
                        {
                            var strCompania = Model.IdCompanias.Split(',');
                            foreach (var item in strCompania)
                            {
                                if (Convert.ToInt64(item) == Companias.Id)
                                {
                                    companiaCreada = Companias.Id.ToString();
                                    <input type="checkbox" value='@Companias.Id' name="ckbCompanias" checked="checked" />
                                    @Companias.Nombre
                                    <br />
                                }
                            }
                            if (companiaCreada != Companias.Id.ToString())
                            { 
                                <input type="checkbox" value='@Companias.Id' name="ckbCompanias" />
                                @Companias.Nombre
                                <br />
                            }
                        }
                    }
                </div>
                <button type="submit" class="btn btn-primary">Editar</button>
                @Html.ActionLink("Cancelar", "Index", "PuntoFacturacion", null, new { @Class = "btn btn-primary" })

            }
        </div>
    </div>
    <div class="col-md-3"></div>
</div>






<script language="javascript" type="text/javascript">

    $(document).ready(function () {

        jQuery.validator.methods.date = function (value, element) {
            var isChrome = /Chrome/.test(navigator.userAgent) && /Google Inc/.test(navigator.vendor);
            var isSafari = /Safari/.test(navigator.userAgent) && /Apple Computer/.test(navigator.vendor);
            if (isSafari || isChrome) {
                var d = new Date();
                return this.optional(element) || !/Invalid|NaN/.test(new Date(d.toLocaleDateString(value)));
            } else {
                return this.optional(element) || !/Invalid|NaN/.test(new Date(value));
            }
        };


        $("input:checkbox[name='ckbCompanias']").change(function () {
            actual = $("input#IdCompanias").val();
            append = $(this).val();
            if ($(this).is(":checked")) {
                if (!actual) {
                    actual = append;
                    $("input#IdCompanias").val(actual);
                } else {
                    actual = actual + ',' + append;
                    $("input#IdCompanias").val(actual);
                }
            } else {
                if (actual) {
                    if (actual.indexOf(append) == 0) {
                        if (actual == append) {
                            actual = '';
                        } else {
                            actual = actual.split(append + ',').pop();
                        }
                        $("input#IdCompanias").val(actual);
                    } else {
                        preStr = actual.substring(0, actual.indexOf(append) - 1);
                        postStr = actual.split(append).pop();
                        actual = preStr + postStr;
                        $("input#IdCompanias").val(actual);
                    }
                }
            }
            //alert(actual);
        });

    });// end document ready



</script>